/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

@import url(fonts.css);

/* Default */

.container {
    display: block;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.section__wrapper {
    max-width: 500px;
    text-align: center;
    margin: auto;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 3;
}

.header_scroll {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 23px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 23px -3px rgba(0, 0, 0, 0.75);
}

.header_scroll .main-nav-list li a {
    height: 80px;
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    display: block;
}

.logo-link {
    display: block;
    width: 30px;
}

.logo-link img {
    display: block;
    width: 100%;
}

.header-burger {
    position: relative;
    display: none;
    width: 40px;
    height: 24px;
    background-color: transparent;
    border: 0;
}

.header-burger-menu,
.header-burger::before,
.header-burger::after {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background: black;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header-burger::before {
    content: '';
    top: 0;
}

.header-burger::after {
    content: '';
    top: 100%;
}

.header-burger_open:after {
    transform: translate(-18px, -6px) rotate(35deg);
    width: 60%;
}

.header-burger_open:before {
    transform: translate(-18px, 4px) rotate(-35deg);
    width: 60%;
}

.main-nav {
    transition: .2s;
}

.main-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-nav-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 15px;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.main-nav-list li a:hover {
    color: #10c9c3;
}

/* Main */

/* Design */

.design {
    background-image: url("../images/design-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.design-wrapper {
    margin-left: auto;
    max-width: 480px;
    padding: 130px 0 200px;
}

.app__title {
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 42px;
    color: #1d1d1d;
}

.app__subtitle {
    padding-bottom: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #787878;
}

.def_btn {
    display: inline-block;
    min-width: 180px;
    padding: 25px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #10c9c3;
    border: 2px solid #10c9c3;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.def_btn:hover {
    background-color: transparent;
    color: #10c9c3;
}

/* About */

.about {
    padding: 100px 0;
    text-align: center;
}

.about-image-wrapper {
    max-width: 220px;
    margin: auto;
}

.about-image-wrapper img {
    display: block;
    width: 100%;
}

.section__title {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #191919;
}

.section__subtitle {
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #787878;
}

/* Skills */

.skills {
    background-color: #f8f9f9;
}

.skills-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 50%;
}

.skills__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
}

.skills-info {
    padding: calc(160 / 1170 * 100%) calc(100 / 1170 * 100%);
    width: 50%;
}

.skills-image-wrapper {
    position: relative;
    overflow: hidden;
    width: 50%;
}

.skills-image-wrapper img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.progress-wrapper {
    padding-top: 40px;
}

.progress-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: black;
}

.progress-skills {
    /*border: 0;*/
    width: 100%;
    background-color: #fff;
    height: 5px;
}

.progress-skills[value]::-webkit-progress-value {
    background-color: #10c9c3;
    border: 0;
}

.progress-skills[value]::-webkit-progress-bar {
    background-color: #d8d8d8;
}

/* Addition */

.addition {
    background-color: #10c9c3;
}

.addition-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 100px calc(85 / 1170 * 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
}

.addition-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.addition-list li span {
    display: block;
}

.addition-list li .addition-icon {
    width: 40px;
    margin-right: 30px;
}

.addition-list li .addition-icon img {
    display: block;
    width: 100%;
}

.addition-quantity {
    font-size: 18px;
    line-height: 22px;
}

.post-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.post-list li {
    width: calc(100% / 4);
}

.post-list li a {
    display: block;
    position: relative;
    width: 100%;
}

.post-list li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, .6);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0;
    z-index: 1;
}

.post-list li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 30px;
    background: url('../images/eye-icon.png') 0 0 no-repeat;
    background-size: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 3;
}

.post-list li a:hover:after,
.post-list li a:hover:before {
    opacity: 1;
}

.post-list li a img {
    display: block;
    width: 100%;
}

.wide_btn {
    width: 100%;
    border: 0;
    padding: 45px 0;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    background-color: #f5f5f5;
}

.wide_btn:hover {
    color: #ffffff;
    background-color: #10c9c3;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

/* Work */

.work {
    margin: 100px auto;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding: calc(570 / 1170 * 100%) 0 100px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Services */

.services {
    background-color: #f5f5f5;
}

.services-wrapper {
    padding: 50px 0;
}


.service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.service-list li {
    padding: 10px;
    width: calc(100% / 4);
    text-align: center;
}

.service-list li span {
    padding-bottom: 10px;
    display: block;
}

.service-list li .service-icon {
    margin: 0 auto;
    padding-bottom: 10px;
    max-width: 45px;
}

.service-icon img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.service-info {
    margin-bottom: 50px;
}

.service-quantity {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #141414;
}

.service-description {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
}

/* Testimonials */

.testimonials {
    background-color: #10c9c3;
}

.testimonials-wrapper {
    padding: 170px 0;
    text-align: center;
}

.testimonials-title {
    padding-bottom: 40px;
    margin: 0 60px;
    max-width: 1020px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}

.author {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

/* Clients */

.clients-icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 55px 0;
}

.clients-icon-list li {
    width: 100%;
}

.clients-icon-list-img {
    max-width: 120px;
}

.clients-icon-list-img img {
    display: block;
    width: 100%;
}

/* Project */

.project {
    background-color: #f5f5f5;
    padding: 100px 0;
}

.form-row_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-row_flex label:first-child {
    margin-right: 30px;
}

.contact-form .input-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.form-wrapper {
    margin: auto;
    max-width: 670px;
    width: 100%;
}

.form-inner {
    text-align: center;
}

.contact-form .input-wrapper input,
.contact-form .input-wrapper textarea {
    width: 100%;
    padding: 15px 20px;
    font-size: 15px;
    line-height: 19px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    border: none;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

.contact-form .input-wrapper textarea {
    height: 170px;
    min-height: 130px;
    resize: vertical;
}

.contact-form .input-wrapper input::-webkit-input-placeholder, .contact-form .input-wrapper textarea::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input::-moz-placeholder, .contact-form .input-wrapper textarea::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input:-ms-input-placeholder, .contact-form .input-wrapper textarea:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input::-ms-input-placeholder, .contact-form .input-wrapper textarea::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
.contact-form .input-wrapper textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input:-ms-input-placeholder, /* Internet Explorer 10-11 */
.contact-form .input-wrapper textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #787878;
}

.contact-form .input-wrapper input::-ms-input-placeholder, /* Microsoft Edge */
.contact-form .input-wrapper textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: #787878;
}

/* Footer */

.footer {
    background-color: #141414
}

.footer a:hover {
    color: #ffffff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 95px 0;
}

.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;
}

.footer-item_around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.footer-nav {
    width: 100%;
    max-width: 225px;
}

.footer-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 220px;
}

.footer-nav__list li {
    width: 50%;
}

.footer-info,
.contact-list {
    margin-right: 15px;
}

.copyright,
.footer-nav__list li a,
.contact-list li a,
.social-list li a {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #bcbcbc;
    text-decoration: none;
}

/* Mobile */

@media screen and (max-width: 1200px) {
    .container {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 992px) {
    .about {
        padding: 50px 0;
    }

    .skills-info {
        padding: calc(160 / 1170 * 100%) 5%;
        width: 50%;
    }


    .addition-list {
        padding: 100px 0;
    }

    .addition-list li .addition-icon {
        margin-right: 15px;
    }

    .service-info {
        margin-bottom: 20px;
    }

    .service-list li {
        width: calc(100% / 2);
    }

    .service-list li span {
        padding-bottom: 10px;
        text-align: center;
    }

    .testimonials-wrapper {
        padding: 100px 0;
    }

    .work {
        margin: 50px auto;
    }

    .project {
        padding: 50px 0;
    }

}


@media screen and (max-width: 768px) {
    .header-wrapper {
        padding: 15px 0;
    }

    .header-burger {
        display: block;
        z-index: 5;
    }

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding-top: 50px;
        background-color: #10c9c3;
        transform: translateX(100%);
        -webkit-overflow-scrolling: touch;

    }

    .main-nav_open {
        transform: translateX(0);
        z-index: 3;
    }

    .main-nav-list,
    .main-nav-list li {
        display: block;
        width: 100%;
    }

    .main-nav-list li {
        margin-bottom: 10px;
        padding: 0 20px;
    }

    .header_scroll .main-nav-list li a {
        height: auto;
    }

    .main-nav-list li a {
        display: block;
        height: auto;
        padding: 15px 0;
        text-align: center;
    }

    .main-nav-list li a:hover {
        color: #000;
    }

    .main-nav-list li a:active {
        background-color: rgba(255, 255, 255, .5);
    }

    .design-wrapper {
        padding: 70px 0;
        margin: 0 auto;
    }

    .app__title {
        font-size: 24px;
        line-height: 28px;
    }

    .app__subtitle {
        font-size: 16px;
        line-height: 24px;
    }

    .about {
        padding: 50px 0;
    }

    .section__title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
    }

    .section__subtitle {
        font-size: 16px;
        line-height: 24px;
    }

    .skills-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .skills-info {
        padding: 50px 5%;
        width: 100%;
    }

    .skills-image-wrapper {
        width: 100%;
    }

    .skills-image-wrapper img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .progress-wrapper {
        padding: 20px 0 5px;
    }

    .progress-title {
        padding-top: 20px;
    }

    .progress-skills {
        width: 100%;
    }

    .addition-list {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 50px 0
    }

    .addition-list li {
        width: 50%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .addition-list li .addition-icon {
        margin-right: 0;
    }

    .post-list li {
        width: calc(100% / 2);
    }

    .video {
        margin-bottom: 50px;
    }

    .services-wrapper {
        padding: 10px 0;
    }

    .service-description {
        font-size: 14px;
        line-height: 18px;
    }


    .service-list li span {

    }

    .testimonials-wrapper {
        padding: 50px 0;
    }

    .testimonials-title {
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 26px;
    }

    .clients-icon-list {
        padding: 30px 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .clients-icon-list li {
        width: calc(100% / 2);
        text-align: center;
        padding: 20px;
    }

    .project {
        padding: 50px 0;
    }

    .form-row_flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 45px 0;
    }

    .footer-item {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;
    }

    .footer-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .contact-list {
        margin-right: 0;
    }

    .copyright, .footer-nav__list li a, .contact-list li a, .social-list li a {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: 375px) {
    .service-list li {
        width: calc(100%);
    }
}
