@import url(fonts.css);

/* Default */

.container {
    display: block;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* Headers */

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
}

.logo {
    display: block;
}

.logo__link {
    display: block;
    width: 30px;
}

.logo__link img {
    display: block;
    width: 100%;
}

.main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-nav__list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 12px;
    line-height: 16px;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav__list li a:hover {
    color: #10c9c3;
}

/* Main content */

.design {
    background-color: #f6f6f6;
}

.design-header {
    margin: auto;
    max-width: 510px;
    padding: 100px 0 90px;
}

.design-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 38px;
    line-height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #171717;
}

.design-description {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #787878;
}

.design-posts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.design-posts__list li {
    width: calc(100% / 4);
}

.design-posts__list li a {
    display: block;
    position: relative;
    width: 100%;
}

.design-posts__list li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21bfb9;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0;
    z-index: 1;
}

.design-posts__list li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 30px;
    background: url('../images/eye-icon.png') 0 0 no-repeat;
    background-size: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 3;
}

.design-posts__list li a:hover:after,
.design-posts__list li a:hover:before {
    opacity: 1;
}

.design-posts__list li a img {
    display: block;
    width: 100%;
}

/* Footer */

.footer {
    background-color: #141414
}

.footer a:hover {
    color: #ffffff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 95px 0;
}

.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;
}

.footer-item_around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.footer-nav {
    width: 100%;
    max-width: 225px;
}

.footer-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 220px;
}

.footer-nav__list li {
    width: 50%;
}

.footer-info,
.contact-list {
    margin-right: 15px;
}

.copyright,
.footer-nav__list li a,
.contact-list li a,
.social-list li a {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #bcbcbc;
    text-decoration: none;
}

/* About */

.additional-info-top {
    position: relative;
    height: 0;
    padding-top: calc(350 / 1366 * 100%);
    background: url("../images/about_01.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.additional-header {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 510px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.info-title {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 42px;
    color: #ffffff;
}

.info-description {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

.info_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 100px calc(85 / 1170 * 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
}

.info_list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.info_list li span {
    display: block;
}

.info_list li .icon {
    width: 40px;
    margin-right: 30px;
}

.info_list li .icon img {
    display: block;
    width: 100%;
}

.quantity {
    font-size: 18px;
    line-height: 22px;
}

.additional-info-wrapper {
    background-color: #10c9c3;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-image-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 760px;
    width: 100%;
}

.about-image-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    display: block;
    width: auto;
}

.about-me {
    min-width: 50%;
    padding: 140px 90px;
    background-color: #f5f5f5;
}

.about-me-image-wrapper {
    width: 100%;
    max-width: 230px;
}

.about-me-image-wrapper img {
    display: block;
    width: 100%;
}

.app-title {
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #171717;
}

.app-description {
    margin-bottom: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 540px;
    color: #787878;
}

.project {
    padding-top: 100px;
    margin-bottom: 100px;
}

.project-wrapper {
    max-width: 540px;
    margin: auto;
}

.project .project-wrapper {
    text-align: center;
}

.def-btn {
    display: inline-block;
    min-width: 180px;
    padding: 25px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #10c9c3;
    border: 1px solid #10c9c3;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.def-btn:hover {
    background-color: transparent;
    color: #10c9c3;
}

/*Contact*/

.info {
    padding-bottom: 100px;
    background-color: #f5f5f5;
}

.info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    margin-bottom: 100px;
}

.info-map {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(470 / 1170 * 100%);
}

.info-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-info-wrapper {
    width: 100%;
    padding-right: 130px;
}

.contact-info-title {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #171717;
}

.contact-info-description {
    margin-bottom: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
}

.contact-info-description-list {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

}

.form-row_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-row_flex label:first-child {
    margin-right: 30px;
}

.contact-address dt {
    margin-bottom: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.contact-address dd {
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
}

.contact-address dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.contact-address dd a {
    text-decoration: none;
    color: #999999;
}

.contact-form .input-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.form-wrapper {
    width: 100%;
}

.contact-form .input-wrapper input,
.contact-form .input-wrapper textarea {
    width: 100%;
    padding: 15px 20px;
    font-size: 15px;
    line-height: 19px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    border: none;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

.contact-form .input-wrapper textarea {
    height: 170px;
    min-height: 130px;
    resize: vertical;
}

.contact-form .input-wrapper input::-webkit-input-placeholder, .contact-form .input-wrapper textarea::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input::-moz-placeholder, .contact-form .input-wrapper textarea::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input:-ms-input-placeholder, .contact-form .input-wrapper textarea:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input::-ms-input-placeholder, .contact-form .input-wrapper textarea::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
.contact-form .input-wrapper textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
}

.contact-form .input-wrapper input:-ms-input-placeholder, /* Internet Explorer 10-11 */
.contact-form .input-wrapper textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #787878;
}

.contact-form .input-wrapper input::-ms-input-placeholder, /* Microsoft Edge */
.contact-form .input-wrapper textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: #787878;
}

/* Post */

.post {
    display: flex;
    background-color: #f6f6f6;
}

.post-app-title {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 42px;
    color: #171717;
}

.post-app-description {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
}

.post-wrapper {
    width: 50%;
    padding: calc(100 / 1366 * 100%) calc(130 / 1366 * 100%) calc(100 / 1366 * 100%) calc(100 / 1366 * 100%);
}

.client-info {
    padding-top: 30px;
}

.client-info dt {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #171717;
}

.client-info dl {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.client-info dd {
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #787878;
}

.client-info dd a {
    padding-left: 5px;
    text-decoration: none;
    color: #787878;
}

.post-image-wrapper {
    position: relative;
    overflow: hidden;
    width: 50%;
}

.post-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.pagination-list li a {
    display: block;
    position: relative;
    width: 100%;
    padding: 45px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1d1d1d;
}

.previous a::after,
.previous a::before,
.next a::before,
.next a::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 10px;
    height: 1px;
    background-color: #171717;
    transition: .3s;
}

.previous a::after {
    left: 0;
    transform: translateY(3px) rotate(45deg);
}

.previous a::before {
    left: 0;
    transform: translateY(-4px) rotate(-45deg);
}

.next a::after {
    right: 0;
    transform: translateY(3px) rotate(-45deg);
}

.next a::before {
    right: 0;
    transform: translateY(-4px) rotate(45deg);
}

.previous a:hover:after {
    transform: translate(-5px, 3px) rotate(45deg);
}

.previous a:hover:before {
    transform: translate(-5px, -4px) rotate(-45deg);
}

.next a:hover:after {
    transform: translate(5px, 3px) rotate(-45deg);
}

.next a:hover:before {
    transform: translate(5px, -4px) rotate(45deg);
}

.all a span::after,
.all a span::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #171717;
    transition: .5s;
}

.all a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
}

.all a span:first-child::after {
    right: 0;
    top: 0;
}

.all a span:first-child::before {
    left: 0;
    top: 0;
}

.all a span:last-child::after {
    right: 0;
    bottom: 0;
}

.all a span:last-child::before {
    left: 0;
    bottom: 0;
}

.all a:hover span:first-child::after {
    transform: translate(2px, -2px);
}

.all a:hover span:first-child::before {
    transform: translate(-2px, -2px);
}

.all a:hover span:last-child::after {
    transform: translate(2px, 2px);
}

.all a:hover span:last-child::before {
    transform: translate(-2px, 2px);
}

/* Mobile */

@media screen and (max-width: 1200px) {
    .container {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 992px) {
    .info_list li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .about-image-wrapper {
        max-width: 100%;
    }

    .about-image-wrapper img {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        height: auto;
        display: block;
        width: 100%;
    }

    .about-me {
        min-width: 100%;
        padding: 50px 30px;
    }

    .contact-info-wrapper {
        width: 100%;
        padding-right: 20px;
    }

    .post {
        flex-direction: column;
    }

    .post-image-wrapper {
        width: 100%;
    }

    .post-image-wrapper img {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        height: auto;
        display: block;
        width: 100%;
    }

    .post-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .design-header {
        padding: 50px 0 45px;
    }

    .design-title {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 24px;
    }

    .design-description {
        font-size: 14px;
        line-height: 18px;
    }

    .design-posts__list li {
        width: calc(100% / 2);
    }

    .additional-header {
        max-width: 500px;
        padding: 0 10px;
    }

    .additional-info-top {
        padding-top: 75%;
    }

    .info_list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 50px 0
    }

    .info_list li {
        width: 50%;
        padding-bottom: 20px;
    }

    .info_list li span {
        text-align: center;
    }

    .info_list li .icon {
        margin-right: 0;
        padding-bottom: 10px;
    }

    .info-description {
        font-size: 14px;
        line-height: 20px;
    }

    .info-title {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 34px;
    }

    .app-title {
        font-size: 24px;
        line-height: 28px;
    }

    .project {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .footer-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 45px 0;
    }

    .footer-item {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;
    }

    .footer-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .contact-list {
        margin-right: 0;
    }

    .copyright, .footer-nav__list li a, .contact-list li a, .social-list li a {
        font-size: 12px;
        line-height: 16px;
    }

    .contact-info-description {
        width: 100%;
    }

    .contact-info-wrapper {
        padding-right: 0;
    }

    .footer-title {
        font-size: 16px;
        line-height: 20px;
    }

    .main-nav__list li a {
        height: 60px;
    }

    .info-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .info-map {
        padding-top: 60%;
    }

    .form-row_flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form-wrapper {
        padding-top: 50px;
    }

    .def-btn {
        min-width: 150px;
        padding: 15px 5px;
    }

    .post-app-title{
        font-size: 30px;
        line-height: 34px;
    }

    .post-app-description{
        font-size: 14px;
        line-height: 22px;
    }

    .pagination-list li a{
        padding: 45px 10px;
        font-size: 10px;
        line-height: 14px;
    }

}

@media screen and (max-width: 350px) {
    .info-map {
        padding-top: 80%;
    }
}

